node_modules

dist
build

npm-debug.log
*.log
.vite

Dockerfile
.dockerignore
docker-compose.yml

.git
.gitignore

.vscode
.idea
*.sublime-project
*.sublime-workspace

.env.local
.env.development
.env.production

*.cache
*.tmp
temp
tmp

coverage
docs